OLLAMA_HOST=http://127.0.0.1:11434
ELLOFIVE_HOST=http://127.0.0.1:11434
ELLOFIVE_MODEL=ellofive
ELLOFIVE_BASE_MODEL=llama3.2:1b
FRC7_GATEWAY=http://127.0.0.1:3100
FRC_API_KEYS=ayiti_gov_test_key
NEURIY_LLM_BASE_URL=http://127.0.0.1:11434/v1
NEURIY_LLM_API_KEY=ellofive
NEURIY_LLM_MODEL=ellofive
